*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
    position: relative;
}
body{
    height: 100vh;
    width: 100%;
    background: url("./MyImages/BackGround.jpg");
    background-size: cover;
    position: absolute;
}
.box{
    border-radius: 5px;
    border: 1px solid rgb(0,0,0,.8);
    margin: 30px;
    height: 630px;
    width: 500px;
    background-color: rgb(255,255,255,0.5);
}
h1{
    text-align: center;
    font-family: 'Protest Guerrilla', sans-serif;
    font-size: 40px;
    background-color: rgba(218, 227, 94, 0.5);
    margin: 10px;
    @media (max-width:992px) {
        font-size: 25px;
    }
    @media (max-width:768px) {
        font-size: 20rem;
    }
}
 div .balance{
    margin: 20px;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: bolder;
}
div .bellowbelence{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:darkslategrey;
    font-size: 30px;
    font-weight: bolder;
}

button{
    width: 200px;
    height: 60px;
    color: white;
    font-weight: bolder;
}
.ern{
    background-color: greenyellow;
}
.exp{
    background-color: red;
}
.ammount{
    font-size: 18px;
}

.heading{
    font-size: 20px;
    font-weight: bold;
    text-align:left;
    margin-top: 20px;
    margin: 10px;
    margin-left: 46px;
}
.vertical-line {
    background-color: rgba(218, 227, 94, 0.5);/* Adjust thickness and color as needed */
    border: 1px solid black;
    height: 2px;
    width: 80%;
    border-radius: 50%;
}
input{
    margin: 10px;
    height: 30px;
    width: 190px;
}
table{
    width: 400px;
    height: 200px;
}
.display {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}
.display::-webkit-scrollbar {
    display: none;
}
tr{
    height: 30px;
    width: 100%;
    padding: 10px;
}
.des{
    width: 220px;
}
.amt{
    text-align: right;
    padding-right: 20px;
}
.del{
    width: 50px;
}